/*grid-----------------------------------------------------------------------*/
.row {
    display: inline-block;
    width: inherit;
    min-height: 0px;
}
.col-10 {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    width: 10%;

}
.col-9 {
    float: left;
    padding: 15px;
    width: 11.11%;
}
.col-8 {
    float: left;
    padding: 15px;
    width: 12.5%;
}
.col-7 {
    float: left;
    padding: 15px;
    width: 14.28%;
}
.col-6 {
    float: left;
    padding: 15px;
    width: 16.66%;
}
.col-5 {
    float: left;
    padding: 15px;
    width: 20%;
}
.col-4 {
    float: left;
    padding: 15px;
    width: 25%;
}
.col-3 {
    float: left;
    padding: 15px;
    width: 33.33%;
}
.col-2 {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    width: 50%;
}
.col-1 {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}
.col-1.min-bottom {
    padding-bottom: 3px;
    margin-bottom: 5px;
}
.col-1.min-top {
    padding-top: 3px;
}
/*More than half width-------------------------------------------------------*/
.col-90-percent {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    width: 90%;
}
.col-80-percent {
    float: left;
    padding: 15px;
    width: 80%;
}
.col-70-percent {
    float: left;
    padding: 15px;
    width: 70%;
}
.col-60-percent {
    float: left;
    padding: 15px;
    width: 60%;
}