p{
    font-family: arial;
}
.header-image {
    background-color: #333333; 
    width: 100px;
    height: 100px;
}
.maket-font-style {
    font-family: arial;
    font-weight: 100;
}
.maket-font-style.header-name {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;

}
.maket-font-style.maket-link {
    text-decoration: underline;
}
.maket-font-style.menu-header {
    font-weight: bold;
}
.maket-font-style.menu {

}
.maket-font-style.main-content {
    
}
.maket-image {
    background-color: #e3e3e3;
    height: 100px;
    width: 160px;
    margin-left: 65px;
    margin-bottom: 43px;
    margin-top: 43px;
}
.maket-image+.maket-image {
    margin-left: 19px;
}
.vacancy-price {
    text-align: center;
}
.button.maket-button {
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
}