.header-image {
    background-color: #333333; 
    width: 100px;
    height: 100px;
}
.maket-font-style {
    font-family: Courier New, monospace;
    font-weight: 100;
}
.maket-font-style.header-name {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;

}
.maket-font-style.header-link {
    text-decoration: underline;
}
.maket-font-style.menu-header {
    font-weight: bold;
}
.maket-font-style.menu {

}
.maket-font-style.main-content {
    
}